.login{
    display: grid;
    place-items: center;
    margin: 0 auto;
}

.login > img{
    object-fit: contain;
    height: 270px;
    margin-bottom: -70px;
}

.login > form{
    display: flex;
    flex-direction: column;
}

.login > form > input{
    height: 50px;
    width: 350px;
    margin-bottom: 10px;
    padding-left: 10px;
    border-radius: 5px;
    font-size: 20px;
}

.login > form > button{
    height: 50px;
    width: 350px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: large;
    color: #fff;
    background-color: #0074b1;
}

.login__register{
    color: #0074b1;
    cursor: pointer;
}