.inputOption {
  display: flex;
  align-items: center;
  padding: 15px;
}

.inputOption:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  cursor: pointer;
}

.inputOption > h4 {
  margin-left: 10px;
  font-weight: 600;
}
