.widgets {
  position: sticky;
  top: 80px;
  flex: 0.25;
  margin-right: 1rem;
  height: fit-content;
  border: 1px solid lightgray;
  border-radius: 10px;
  background-color: white;
  padding-bottom: 10px;
}

.widgets__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-top: 5px;
}

.widgets__header > p {
  font-weight: 600;
  font-size: 16px;
}

.widgets__header > .MuiSvgIcon-root {
  font-size: 28px;
  padding: 5px;
  color: rgba(15, 7, 7, 0.7);
}
.widgets__header > .MuiSvgIcon-root:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}

.widgets__article {
  display: flex;
  align-items: baseline;
  padding: 10px;
  cursor: pointer;
}
.widgets__article:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.widgets__articleLeft {
  margin-right: 10px;
}

.widgets__articleLeft > .MuiSvgIcon-root {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.6);
}

.widgets__articleRight {
  flex: 1;
}

.widgets__articleRight > h4 {
  font-size: 14px;
  font-weight: 600;
}

.widgets__articleRight > p {
  margin-top: 2px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}

.widgets__bottom {
  display: flex;
  align-items: center;
  margin: 5px 25px;
  margin-right: 140px;
  padding: 2px 5px;
}

.widgets__bottom:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  cursor: pointer;
}

.widgets__bottom > h4 {
  font-weight: 600;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
}

.widgets__bottom > .MuiSvgIcon-root {
  color: rgba(0, 0, 0, 0.7);
}

@media (max-width: 990px) {
  .widgets {
    margin-left: 16rem;
    margin-right: 2rem;
    width: 32rem;
  }
}

@media (max-width: 775px) {
  .widgets {
    max-width: 475px;
    margin: 30px 25px;
  }
}
