.headerOption {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 0px;
  color: grey;
  cursor: pointer;
  padding: 0 15px;
  position: relative;
}

.headerOption:hover {
  color: black;
}

.active {
  border-bottom: 2.5px solid black;
  color: black;
}

.headerOption__icon {
  object-fit: contain;
  height: 30px !important;
  width: 30px !important;
}

.headerOption__title {
  font-size: 12px;
  font-weight: 400;
}

.avatar__title {
  display: flex;
  color: grey;
  align-items: center;
  margin-top: -4px;
}
.avatar__title:hover {
  color: black;
}

.avatar__title > h3 {
  font-weight: 400;
  font-size: 12px;
  text-align: center;
}

.signout__card {
  position: absolute;
  z-index: 99999;
  top: 48px;
  margin-right: 40px;
  width: 100px;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  font-size: 14px;
}

.signout__card:hover {
  color: #0a66c2;
  cursor: pointer;
  text-decoration: underline;
}
