.home__body {
  display: flex;
  max-width: 1128px;
  width: 100%;
  margin: 35px auto;
}

.home__bodyContainer {
  display: flex;
  flex: 0.75;
}

@media (max-width: 775px) {
  .home__bodyContainer {
    display: flex;
    max-width: 475px;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 990px) {
  .home__body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
