.feed {
  flex: 0.5;
  margin: 0 25px;
}

.feed__inputContainer {
  background-color: white;
  padding: 5px 10px;
  border-radius: 10px;
  margin-bottom: 15px;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.feed__inputHeader {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.feed__inputHeader > button {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
  margin: 5px 10px;
  outline: none;
  line-height: 1.5;
  font-size: 14px;
  min-height: 48px;
  border-radius: 40px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  flex-grow: 1;
  padding-left: 16px;
  text-align: left;
}
.feed__inputHeader > button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}

.feed__inputOptions {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5px;
  color: gray;
}
