.header{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 5px;
    padding-top: 10px;
    border-bottom: 0.1px solid lightgray;
    width: 100%;
    z-index: 999;
}

.header__left{
    display: flex;
}

.header__left > img{
    object-fit: contain;
    height: 35px;
    margin-right: 10px;
}

.header__search{
    display: flex;
    padding: 8px;
    align-items: center;
    height: 22px;
    width: 250px;
    color: grey;
    background-color: #eef3f8;
    border-radius: 5px;
}

.header__search > input{
    outline: none;
    border: none;
    background: none
}

.header__right{
    display:flex;
}