.inputOption {
    display: flex;
    align-items: center;
    padding: 15px;
}

.inputOption:hover{
    background-color: whitesmoke;
    border-radius: 5px;
    cursor: pointer;
}

.inputOption > h4{
    margin-left: 10px;
    font-weight: 600;
}